@keyframes heart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes sparks {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/* Состояния заливки */
.like-icon .contour {
  transition: fill 0.3s linear;
  fill: var(--contour-color);
}

.like-icon .core {
  transition: fill 0.3s linear;
  fill: rgba(0, 0, 0, 0);
}

.like-icon .main-body {
  transition: fill 0.2s linear;
  fill: rgba(0, 0, 0, 0);
}

.like-icon .sparks {
  opacity: 0;
}

/* Ховер-эффект (НЕ для is-liked) */
.card__icon-button:hover .like-icon .core {
  transition: fill 0.1s linear;
  fill: var(--main-body-hover);
}

.card__icon-button:hover .like-icon .main-body,
.card__icon-button:hover .like-icon .contour {
  transition: fill 0.3s linear;
  fill: var(--main-body-hover);
}

/* ОТМЕНА hover для is-liked */
.card__icon-button:hover .like-icon.is-liked .core,
.card__icon-button:hover .like-icon.is-liked .main-body,
.card__icon-button:hover .like-icon.is-liked .contour {
  fill: var(--main-body-liked);
  transition: fill 0.2s linear;
}

/* Состояние is-liked — основная заливка */
.like-icon.is-liked .main-body,
.like-icon.is-liked .core,
.like-icon.is-liked .contour,
.like-icon.is-liked .sparks {
  fill: var(--main-body-liked);
}

/* ACTIVE — всегда работает и для is-liked */
.card__icon-button:active .like-icon .contour {
  fill: var(--main-body-hover);
}
.card__icon-button:active .like-icon .core {
  transition: fill 0.2s linear;
  fill: var(--main-body-liked);
}
.card__icon-button:active .like-icon .main-body {
  transition: fill 0.3s linear;
  fill: var(--main-body-liked);
}

/* Анимация сердца (при is-liked) */
.is-liked .heart {
  animation: heart 0.3s ease-in 0.1s 1;
  transform-origin: center;
}

/* Анимация спарков (при is-liked) */
.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.4s 1;
  transform-origin: center;
}
