@keyframes sparks {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.like-icon .contour {
  transition: fill 0.3s linear;
  fill: var(--contour-color);
}

.like-icon .core {
  transition: fill 0.3s linear;
  fill: rgba(0, 0, 0, 0);
}

.like-icon .main-body {
  transition: fill 0.2s linear;
  fill: rgba(0, 0, 0, 0);
}

.like-icon .sparks {
  opacity: 0;
}

.card__icon-button:hover .like-icon .core {
  transition: fill 0.1s linear;
  fill: var(--main-body-hover);
}

.card__icon-button:hover .like-icon .main-body,
.card__icon-button:hover .like-icon .contour {
  transition: fill 0.3s linear;
  fill: var(--main-body-hover);
}

.like-icon.is-liked .main-body,
.like-icon.is-liked .core,
.like-icon.is-liked .contour,
.like-icon.is-liked .sparks {
  fill: var(--main-body-liked);
}

.card__icon-button:active .like-icon .contour {
  fill: var(--main-body-hover);
}

.card__icon-button:active .like-icon .core {
  transition: fill 0.2s linear;
  fill: var(--main-body-liked);
}
.card__icon-button:active .like-icon .main-body {
  transition: fill 0.3s linear;
  fill: var(--main-body-liked);
}

/* Спарки — анимация стартует через 0.3s */
.is-liked .big-heart {
  animation: sparks 0.2s ease-in 0.2s;
  fill: var(--main-body-liked);
}

/* Спарки — анимация стартует через 0.3s */
.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1;
  transform-origin: center;
}

