:root {
  --section-width: clamp(320px, 85vw, 1100px);
  --card-width: clamp(320px, 80vw, 700px);

  --color-bg: #fff;
  --color-text: #000;
  --color-accent: #ff3a3a;

  --color-card-border: #000;
  --color-card-bg: #fff;

  --like-btn-border: #000;
  --like-btn-bg: #fff;
  --like-btn-hover-bg: #000;
  --like-btn-hover-text: #fff;
  --like-btn-focus-shadow: #ff3a3a;
  --like-btn-focus-border: #ff3a3a;

  --contour-color: #000;
  --main-body-hover: #000;
  --core-hover: #000;
  --main-body-active: #ff3a3a;
  --core-active: #ff3a3a;
  --main-body-liked: #ff3a3a;
  --core-liked: #ff3a3a;

  --heart-size: 39px;
  --heart-size-vertical: 36px;
  --heart-gap: 16px;

  --font-main: "Inter", Arial, sans-serif;
  --font-accent: "PressStart2P", "Courier New", monospace;

  --watermark-shadow: 0 1px #fff, 1px 0 #fff, 0 -1px #fff, -1px 0 #fff;

  --bg-grid: repeating-linear-gradient(
      to right,
      #d3d3d3 0 1px,
      transparent 1px 2px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 1px, transparent 1px 2px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #e7e7e7 0%, #1a1a1a 100%);

  --font-weight-main: 400;
  --font-weight-title: 700;
}
